.DS_Store
thumbs.db
Thumbs.db
*.pyc
app/static/.*
app/__pycache__/
app/__pycache__/*
app\__pycache__\
app\__pycache__\*.pyc
app/__logs__/*.*
app\__logs__\*.*
app/__logs__/*
app\__logs__\*
*.bat
*.pem
