<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ION Racing Website" />
    <meta name="author" content="ION Racing" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>ION Racing{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/user_style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='applications/bootstrap.js') }}"></script>
</head>

<body>
    <header>
        Header_Bar
        <a href="/logout">Logout {{ user.username }}</a>
    </header>
    <main class="row">
        <aside class="side-menu col-s-12 col-md-3">
            Side_Menu_Bar<br />
            Menu_Item<br />
            Menu_Item<br />
            Menu_Item<br />
            Menu_Item<br />
            Menu_Item<br />
            Menu_Item<br />
            Menu_Item
        </aside>
        <div id="content" class="col-s-12 col-md-9">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

</html>